<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.app.name[page.lang] }}{% endif %}</title>
  <meta name="description" content="{{ site.description[page.lang] }}">
  <link rel='shortcut icon' href='favicon-32x32.png' type='image/x-icon'/ >

  {% if site.enable.smart_app_banner %}
  <!-- Smart App Banner -->
  <meta name="apple-itunes-app" content="app-id={{ site.app.ios_id }},affiliate-data={% include apple-affiliate.html %}">
  {% endif %}

  <!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {% if page.stylesheet %}
  <link rel="stylesheet" href="{{ page.stylesheet }}"/>
  {% endif %}
</head>
<body>
    {{ content }}
</body>
</html>
